/* VARIABLES */

:root {
  --bg-img-width: 200px;
  --bg-img-height: 200px;
  --bg-animation-duration: 15s;
}



/* ANIMATIONS */

@-webkit-keyframes bg-scrolling {
  100% {
    background-position: var(--bg-img-width) var(--bg-img-height);
  }
}
@-moz-keyframes bg-scrolling {
  100% {
    background-position: var(--bg-img-width) var(--bg-img-height);
  }
}
@-o-keyframes bg-scrolling {
  100% {
    background-position: var(--bg-img-width) var(--bg-img-height);
  }
}
@keyframes bg-scrolling {
  100% {
    background-position: var(--bg-img-width) var(--bg-img-height);
  }
}

/* MAIN STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: rgb(37, 37, 37);
  color: rgb(255, 255, 255);

  background: url("./img/dark-grid-bg-num.png") repeat 0 0;
  -webkit-animation: bg-scrolling var(--bg-animation-duration) infinite;
  -moz-animation: bg-scrolling var(--bg-animation-duration) infinite;
  -o-animation: bg-scrolling var(--bg-animation-duration) infinite;
  animation: bg-scrolling var(--bg-animation-duration) infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  ;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 30px 20px;
  max-width: 800px;
  margin: 0 auto;
}

#header {
  margin-bottom: 24px;
  margin-top: 10px;
}

#header-title {
  font-family: "Rock Salt", sans-serif;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  margin-bottom: 9px;
}

#header-subtitle {
  font-family: "Rock Salt", sans-serif;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

#description-text {
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-size: 18px;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(37, 37, 37);
  pointer-events: none;
}

#desc-btn {
  margin-bottom: 10px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 60, 60);
  color: rgb(255, 255, 255);
}

#desc-btn.white {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 37, 37);
}

#desc-btn.red {
  background-color: rgb(255, 60, 60);
  color: rgb(255, 255, 255);
}

#description p {
  margin-bottom: 12px;
}

.footer {
  text-align: center;
  margin-top: auto;
}

.social-text {
  font-family: "Rock Salt", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  color: rgb(255, 255, 255);
}

.social-icon {
  margin: 0 5px;
  font-size: 32px;
}

.btn {
  font-family: "Londrina Solid", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgb(37, 37, 37);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 100%;
  padding: 5px;
  /* height: 25px; */
  cursor: pointer;
}

.btn-alerted {
  background-color: rgb(255, 60, 60);
  color: white;
}

#option-group {
  margin: 10px 0;
}

.option-line {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.option-line input {
  color: rgb(37, 37, 37);
  /* width: 200px;
  height: 25px; */
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 400;
}

.rmv-btn {
  font-family: "Rock Salt", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 1;
  overflow: hidden;
  padding: 0 5px;
  color: rgb(255, 60, 60);
  margin-left: 5px;
  cursor: pointer;
}

#decision-view {
  margin: auto 0;
}

.clue {
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
}

#note {
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

#choice-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.choice-box {
  font-family: "Londrina Solid", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  background-color: rgb(37, 37, 37);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 14vh;
  margin-bottom: 10px;
  padding: 8px;
  overflow: hidden;
  cursor: pointer;
}

#progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#progress-value {
  font-family: "Londrina Solid", sans-serif;
}

#progress-bar {
  -webkit-appearance: none;
  width: 60%;
  height: 10px;
  margin-top: 10px;
}

#progress-bar::-webkit-progress-bar {
  background-color: rgb(37, 37, 37);
  border: 1px solid white;
  border-radius: 5px;
}
#progress-bar::-webkit-progress-value {
  background-color: white;
  border-radius: 5px;
}

#results-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#results {
  margin: 10px 0;
}

.result-line {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.result-item {
  background-color: white;
  color: rgb(37, 37, 37);
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: "Londrina Solid", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.result-number {
  font-family: "Rock Salt", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  color: rgb(255, 60, 60);
  margin-right: 10px;
  width: 30px;
}

.highlight {
  font-weight: 400;
  font-size: 20px;
}

.is-hidden {
  display: none;
}

.is-active {
  display: block;
}

@media only screen and (min-width: 600px) {
  #header-title {
    font-size: 36px;
  }

  #header-subtitle {
    font-size: 16px;
  }

  #description-text {
    font-size: 20px;
  }
  
  .highlight {
    font-size: 22px;
  }
} 

@media (hover: hover) {
  .btn-alerted:hover, #start-btn:hover, #restart-btn:hover  {
    background-color: rgb(255, 60, 60);
    color: white;
  }

  .rmv-btn:hover, .social-icons a:hover {
    color: rgb(255, 60, 60);
  }

  .btn:hover, #desc-btn:hover, .choice-box:hover {
    background-color: white;
    color: rgb(37, 37, 37);
  }

  .rmv-btn:hover {
    color: white;
  }
}